build/
dist/
tests/
.*/
*.xml
*.iml
*.pyc
*.mods
*.spec
*.d
*.o
*.bin
*.map
*.elf
*.sym
*.plz
*.dat
*.gds
*.nds
*.SAD
*.wav
*.sad
*.sf2
*.SMD
*.log
venv
_test*
data_extracted
data_permanent/fonts
exported
formats/sound/compression/*.c
formats/sound/compression/*.pyd
formats/sound/compression/*.html
*.bak
